<span class = "timestamp">
  <% if controller.controller_name == "microposts" and controller.action_name == "show" %>
    Posted <%= "#{time_ago_in_words(micropost.created_at)}" %> ago:
    <%= "#{micropost.created_at.in_time_zone("Eastern Time (US & Canada)").inspect}" %>
  <% elsif controller.controller_name == "microposts" and controller.action_name == "index" %>
    Posted <%= link_to "#{time_ago_in_words(micropost.created_at)} ago:
    #{micropost.created_at.in_time_zone("Eastern Time (US & Canada)").inspect}", micropost %>
    by <%= link_to micropost.user.name, micropost.user %>
  <% elsif controller.controller_name == "pages" and controller.action_name == "home" %>
    Posted <%= link_to "#{time_ago_in_words(micropost.created_at)} ago", micropost %> by
    <%= link_to micropost.user.name, micropost.user %>
  <% else %>
    Posted <%= link_to "#{time_ago_in_words(micropost.created_at)} ago", micropost %>.
  <% end %>
</span>
